@import "base";
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
}
body {
  color: #5a5a5a;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  font-size: 1.6rem;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  position: relative;
}
a {
  text-decoration: none;
  color: #5a5a5a;
}
/*header*/
.floating {
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  position: fixed;
  background: #fff;
}
.page-header {
  margin: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #c1c1c1;
  height: 105px;
  .content {
    padding: 0 15px !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    width: auto;
    padding: 0 15px !important;
    height: 105px;
    .logo {
      max-width: 50%;
      position: relative;
      z-index: 5;
      float: left;
      display: block;
      margin: 10px 15px 10px 0;
      img {
        max-height: inherit;
        width: 50px;
        height: 50px;
      }
    }
    .block {
      z-index: 9999 !important;
      margin-top: 15px;
      width: calc(100% - 30% - 85px);
      height: 40px;
      line-height: 40px;
      float: left;
      margin-bottom: 0;
      .block-content {
        form {
          .control {
            border-top: 0;
            margin: 0;
            padding: 0;
            position: relative;
            float: left;
            width: 790px;
            input[type="text"] {
              background: #fff;
              background-clip: padding-box;
              border: 1px solid #c2c2c2;
              font-size: 16px;
              height: 40px;
              line-height: 1.42857143;
              padding: 0 9px;
              vertical-align: baseline;
              width: 100%;
              padding: 6px 45px 6px 15px;
              position: static;
            }
            .search-btn {
              float: none;
              display: block;
              position: absolute;
              top: 1px;
              right: 10px;
              a {
                cursor: pointer;
                display: inline-block;
                background-image: none;
                background: 0 0;
                border: 0;
                box-shadow: none;
                font-size: 26px;
                line-height: 32px;
                z-index: 1;
              }
            }
          }
        }
      }
    }
    .sections.nav-sections {
      z-index: 2;
      overflow-x: initial !important ;
      float: left;
      margin-bottom: 0;
      min-width: 69%;
      float: left;
      margin-bottom: 0;
      min-width: 69%;
      .section-items {
        .section-item-content {
          display: block !important;
          #ui-id-1 {
            padding: 0;
            margin-left: -10px;
            font-size: 0;
            position: static;
            list-style: none;
            .level0 {
              float: left;
              margin: 0 !important;
              .level-top {
          
                padding: 0 10px;
                font-size: 1.5rem;
                letter-spacing: 0.6px;
                color: #575757;
                text-decoration: none;
                box-sizing: border-box;
                display: block;
                height: 100%;
                position: relative;
                span {
                  font-size: 1.5rem;
                  letter-spacing: 0.6px;
                  color: #575757;
                  line-height: 50px;
                }
               
              }
              .level-top:hover{
                color: #0199d5;
              }
            }
          }
        }
      }
    }
  }
  .header-right {
    position: relative;
    .phone_text {
      color: #5a5a5a;
      float: left;
      margin-top: 5px;
      width: auto !important;
      height: 40px;
      line-height: 40px;
      text-align: right;
      display: block;
      position: absolute;
      right: 0;
      top: 10px;
    }
    ul.additional-links {
      float: right;
      margin-bottom: 0;
      padding-left: 13px;
      margin-top: 0;
    }
  }
  .minicart-wrapper {
    margin: 11px 5px 0;
    position: relative;
    left: 42px;
    display: inline-block;
    float: right;
    .minicart-wrapper .action {
      white-space: nowrap;
      outline: none;
      .minicart-wrapper .action.showcart .counter.qty {
        display: none;
        box-sizing: content-box !important;
        background: #f15916;
        color: #fff;
        min-width: 13px;
        overflow: hidden;
        padding: 0 1px;
        text-align: center;
        white-space: normal;
        font-size: 1.1rem;
        position: absolute;
        top: -4px;
        right: -7px;
        height: 15px;
        line-height: 17px;
        border-radius: 50%;
        
      }
    }
  }
}

.nav-sections-item-content > .navigation {
  display: block;
}
#action {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 135px;
  height: 36px;
  line-height: 36px;
}
#action ul li {
  float: left;
  margin: 0 5px;
  cursor:pointer;
}
.divList,ul,Li-1{
   
    a{

      font-size: 16px;
      color: #000;
      display: block;
  
    }
    ul li{
      font-size: 14px;
      color: #777;
      line-height: 25px;
    }
}
#a1{
  display: block;
  margin-top:25px;
}
.divList>ul{
  display: flex;
  padding: 17px;
  
}
.divList>ul>li{
  border-right:1px solid #000 ;
  padding-left:10px ;
}
.divList>ul>.Li-1{
  width: 261px;
}
.divList>ul>.Li-4{
  border:none;
  width: 346px;
}
.divList>ul>.Li-3{
  width: 261px;
 
  line-height: 50px;
  span{
   
    font-size:14px;
  }
  .icf1{
    color: #777;
  }
  .iconfont{
    font-size: 28px;
    color:  red;
  }
  i{
    display: inline-block;
    width: 30px;
    margin-right: 20px;
  }
}
.divList>ul>.Li-2{
  width: 372px;
  display: flex;
  
  ul{
    width: 160px;
    span{
      color: #000;
      font-size: 15px;
      cursor: pointer;
      text-decoration: underline;
      display: block;
    }
  }
}
.divList{
  display: flex;
  justify-content: center;
  align-items: center;
 display: none;
}
.divList{
  ul li ul li:hover{
    color: #0199d5;
  }
 
}
.div0{
  display:none;
}
.showimg{
 
  ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
}
.service{
  display: flex;
  justify-content: center;
  align-items: center;
  .serviceMid{
    width: 1280px;
    margin-top: 10px;
    margin-bottom: 30px !important;
    overflow: hidden;
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      li{
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
          max-width: 77px;
          height: auto;
        }
        h4{
          font-size: 2.2rem;
          font-weight: 600;
          margin-top: 5px;
          margin-bottom: 5px;
          color: #2e2e2e;
        }
      }
    }
  }
}
//从这往上都是头部！！！！
.footList{
  div{
  
    border-bottom: 1px solid #898888;
  }
  .foot1{
    padding: 17px 20px 18px 30px;
    max-width: 1210px;
    margin: 0 auto;

  }
  .foot2{
    max-width: 1240px;
      margin-left: auto;
      margin-right: auto;
      padding: 17px 20px 18px 30px;
      ul{
        overflow: hidden;
      }
    ul li{
     float: left;
    }
    ul li a {
      max-width: 100px;
      margin-right:10px ;
      display: block;
      img{
        
        width: 100%;
        height: 100%;
      }
    }
  }
}
.page-footer{
  background-color: #bababa !important;
  overflow: hidden;
  div{
    .footer-top{
      overflow: hidden;
      background-color: #bababa !important;
      width: 75%;
      padding: 20px 0;
      border-bottom: 1px solid #898888;
      margin-left: auto;
      margin-right: auto;

    } 
    
    .footer--top-top{
     
      width: 75%;
    }
    .footer-top div>div{
      float: left;
      width: 25%;
      ul {
        float: left;
      }
      ul li{
        margin-left: 55px;
        line-height: 25px;
        font-size: 1.4rem;
        max-height: 500px; 
        width: 177px;
      }
    }
    .footer-top div>div>div{
      padding: 25px 0;
      cursor: pointer;
      background-color: #bababa;
      line-height: 20px;
      padding-left: 30px;
      width:232px;
      font-size: 1.4rem;
      float: left;
      img{
        width: 20px;
        height: 20px;

      }
      span{
        display: inline-block;
        margin-left: 5px;
        }
    }
   
  }
}
.footer-top-right{
    float: right;
    width: 24%;
    overflow: hidden;
    .footer-top-right-div{
      width: 232px !important;
        .iconfont{
          color: #666 ;
          font-size: 2rem;
          border-radius: 5%;
          overflow: hidden;
          text-align: center;
          line-height: 20px;
        }
      ul{
        overflow: hidden;
        margin: 10px 0  !important;
        width: 100%;
      }
      ul li{
        background:#fff;
        width: 17px !important;
        height: 17px !important;
        float: left ;
        margin: 0 !important;
        margin-left: 10px !important;
      }
      strong,span{

        font-size: 1.4rem;
        color: #666;
        vertical-align: top;
        font-weight: 700;
      }
    form{
      line-height: 3;
      input{
        height: 32px;
        font-size: 1.42rem;
        background: #fff;
        background-clip: padding-box;
        border: 1px solid #c2c2c2;
        border-radius: 1px;
        font-family: 'HP Simplified Light','Helvetica Neue',Helvetica,Arial,sans-serif;
        padding: 0 9px;
        vertical-align: baseline;
        width: 100%;
      }
    }
    button{
      background: 0 0;
      border: 1px solid;
      border-radius: 0;
      padding: 5px 15px;
      font-size: 1.42rem;
      white-space: nowrap;
      color:#666;
    }
    }
}
.footer-bottom{
  overflow: hidden;
  min-width: 1240px;
  margin: 0 auto;
  text-align: center;
  ul{
    padding-left: 30px;
    padding-top: 25px;
  }
  ul li {
    display: inline;
    font-size: 1.4rem;
    color: #666;
  }
}
.footer-disclaimer{
  background-color: #bababa !important;
    margin-top: auto;
    display: inline-block;
    width: 100%;
    p,div{
      max-width: 1240px;
      margin-left: auto;
      margin-right: auto;
      color: #666;
      margin-top: 10px;
      font-size: 1.3rem;
      a{
        color: #0199d5;
      }
      img{
        margin: 0;
      }
    }
    span{
      max-width: 1240px;
      display: block;
      margin: 0 auto !important;
      color: #666;
      line-height: 25px;
      font-size: 1.4rem;
      text-align: center;
    }
}
//中间
.Fcontent{
    margin-top:105px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
   
}
.FContent-ul{
  overflow: hidden;
  margin: 15px 0;
  li{
    float: left;
    color: #c6c6c6;
    font-size: 14px;
  }
  .FContent-li{
    color: #000;
  }
}
.columns{
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
.product-info-main{
    position: relative;
    left: -1px;
    border-color: #d6d6d6;
    margin-bottom: 10px;
    box-sizing: content-box !important;
    width: 47%;
    padding-left: calc(3% - 5px);
    border-left: 1px solid transparent;
    float: right;
}
.product{
  border-color: transparent;
  position: relative;
  overflow: hidden;
  width: 50%;
  float: left;
  margin-bottom: 10px;
  border-right: 1px solid #d6d6d6;
  margin-top: 10px;
  padding-top: 5px;
}
.product-view-choose{
  border: 1px solid #d5d5d5;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    select{
      width: 100%;
    height: 45px;
    cursor: pointer;
    padding-left: 20px;
    font-family: 'HP Simplified Regular';
    font-size: 1.5rem;
    color: #424242;
    border: none !important;
    border-bottom: 1px solid #d5d5d5 !important;
    border-radius: 5px;
    }
    .product-view-ul{
      padding-left: 10px;
      margin-top: 15px;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      li{
        text-align: center;
        width: calc(20% - 1px);
        height: 100px;
        overflow: hidden;
      }
      li span{
        display: block;
        padding: 5px 7px 0;
        overflow: hidden;
        font-size: 1.2rem;
        color: #757575;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 12px;
      }
    }
}
.product-view-choose-color{
  label{
    cursor: default;
  }
  .product-view-choose-item-list{
    padding: 5px 5px 5px 0;
    border: 1px solid transparent;
    .list{
      margin-right: 0;
      a{
        border-style: solid;
        display: block;
        width: 42px;
        height: 42px;
        border: 2px solid #56bae4;
        border-radius: 5px;
        font-size: 0rem;
      }
    }
  }
}
.product-info-price{
    color: #575757;
    padding-bottom: 10px;
  .product-info-sp1{
    font-size: 1.5rem;
    color: #424242;
    margin-right: 15px;
  }
  .product-info-sp2{
    font-size: 3.2rem;
    font-weight: 500;
    color: #000;
  }
}
.mrp{
  margin-bottom:15px;
}
.mrp-sp{
  color: #ff0909;
  font-size: 14px;
}
.actions{
  button{
    position: static;
    padding: 14px 31px;
    margin: 0;
    height: auto;
    width: 100%;
    background:#0199d5;
    color: #fff;
    border: 0;
  }
  button:hover{
    color: #fff;
    background: #069;
    transition: all .5s;
  }
}
.product-deliver{
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}
.delivery-change{
  height: 38px;
  .standard-delivery{
    
    box-sizing: content-box !important;
    border: 1px solid #bdbdc6;
    width: calc(50% - 11.5px);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 10px 5px;
    font-size: 16px;
    float: left;
    height: 17px;
    background: #fff;
    border-bottom: none;
  }
  .standard-sp1{
    text-transform: uppercase;
    color: #000;
    float: left;
    width: 73%;
    display: block;
  }
  .standard-sp2{
    display: block;
    float: right;
    width: 35px;
    margin-top: -10px;
    margin-right: -1px;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
.product_info_address{
    margin-top: -1px;
    padding-top: 11px;
    border: 1px solid #bdbdc6;
    padding: 10px 8px 0 20px;
    font-size: 1.5rem;
   width: 100%;
   overflow: hidden;
}
.product_info_select{
   div{
    float: left;
    width: 25%;
   }
    select{
      appearance: none;
      background-size: 30px 60px;
      border: 1px solid #ccc;
      height: 32px;
      padding-right: 25px;
      text-indent: .01em;
      border-radius: 1px;
      line-height: 1.42857143;
      padding: 5px 10px 4px;
      vertical-align: baseline;
      width: 100%;
  
    }
}
.product_info_p{
  width: 100%;
  float: left;
  font-size: 15px;
  line-height: 25px;
  span{
    color: #4dc448;
    display: block;
  }
  .product_info_sp{
    color:#5a5a5a;
    font-size: 14px;
  }
}
.product-addto-links{
    clear: left;
    margin: 20px 0;
    padding: 0 0 0 10px;
    height: 15px;
    overflow: hidden;
    color: #ff0909;
    font-size: 14px;
    height: auto;
    overflow: visible;
    cursor: pointer;
    line-height: 25px;
}
.product{
  float: left;
  h1{
    color: #000;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.1;
    font-size: 2.6rem;
    margin-top: 0;
  }
}
.product-info-stock-sku{
  display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-top: 2px;
    margin-bottom: 10px;
    line-height: 20px;
    margin-right: 50px;
    font-size: 1.4rem;
    color: #c6c6c6;
}
.Datorama__stage__shaft{
  transition-duration: 0ms;
  transform: translate3d(0px, 0px, 0px);
  margin-left: 0px;
  width:100%;
}
.promotion-discount-tags{
  text-align: left;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    span{
      width: 50%;
    }
    span{
      color: #fff;
      display: block;
      float: left;
      text-align: center;
      height: 35px;
      line-height: 35px;
      text-transform: uppercase;
      width: 50%;
      margin-top: 5px;
      z-index: 3;
      background: #822980;
      border-radius: 0;
      font-family: 'HP Simplified Regular';
      font-size: 1.4rem;
      height: 20px;
      line-height: 22px;
      white-space: nowrap;
    }
    .Datorama__sp2{ background: #00b04f;}
}
.fotorama__stage__frame{
  img{
    height: auto;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    transition-duration: .3s;
    transition-property: width,height,top,left;
    vertical-align: middle;
    width: auto;
  }
}
.product-div{
  position: relative;
}
.fotorama__nav-wrap{
    margin: 5px auto 15px;
    font-size: 18px;
    font-family: 'HP Simplified Light';
    color: #5a5a5a;
    text-align: center;
}
.Fotorama__div{
  white-space: nowrap;
  height: 86px;
    width: 792px;
    transition-duration: 550ms;
    transform: translate3d(0px, 0px, 0px);
  div{
      float:left;
     width: 88px;
     border: 1px solid #c6c6c6;
     border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      margin-right: -1px;
      padding-left: 0 !important;
      img{
        width: 100%;
        height: 100%;
    }
  }
   
}
.Fproduct{
  width: 1280px !important;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
   
    a{
      min-width: calc(14.3% + 0.8px) !important;
      width: calc(14.3% + 0.8px) !important;
      display:block;
      font-size: 1.5rem;
      padding: 9px 10px;
      border: 1px solid #ccc;
      background: #fff;
      color: #424242;
      height: 70px;
      white-space: nowrap;
      float: left;
      line-height: 50px;
      text-align: center;
    }
}
.tabpanelImg{
   img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    max-width: 100%;
   }
}
.product-desc-features{
  margin-left: -5px;
  padding-left: 10px;
    font-family: 'HP Simplified Light';
    color: #000;
    ul{
      list-style: none;
      margin: 0;
      padding: 0 0 0 20px;
      li{
        list-style-type: disc;
        line-height: 15px;
        margin-bottom: 5px;
      }
    }
}
.product-desc-feature-icons{
  ul{
    text-align: center;
    .product-desc-li1{
      border: 0;
    }
  }
  ul li{
    height: 102px;
    margin-right: 0;
    padding: 0 30px;
    overflow: hidden;
    width: 234px;
    line-height: normal;
    margin-bottom: 10px;
    border-right: 1px solid #e2e2e2;
    display: inline-block;
    span{
      display: block;
    }
  }
}
.you-might-like{
  width: 1280px  !important;
  margin-left: auto;
  margin-right: auto;
  .consider{
    font-size: 2.2rem;
    font-weight: 300;
    font-family: 'HP Simplified Light';
    color: #424242;
  }
}
.block-content{
  ol li{
    width: auto;
    display: inline-block;
    width: calc(20% - 2px);
    margin-right: 2px;
    padding-left: 0;
    margin-bottom: 25px;
    img{
      width: 221px;
      text-align: center;
    }
    h2{
      display: block;
      padding: 0 10px;
      text-align: center;
      color: #333;
      height: 50px;
      overflow: hidden;
      font-size: 1.8rem;
      font-family: 'HP Simplified Light';
      font-weight: 700;
      letter-spacing: 0;
      box-sizing: content-box !important;
      line-height: 25px;
      font-size: 1.6rem;
      font-family: 'HP Simplified Regular';
      text-align: center;
      margin-bottom: 10px;
      height: 50px;
      max-height: 50px;
      line-height: 25px;
    }
    p{
      color: #ff0909;
    height: 15px;
    overflow: hidden;
    font-size: 13px;
    text-align: center;
    }
    p:last-of-type{
 
        margin: 10px 0 35px;
        color: #000;
        font-weight: 700;
    }
  }
}
#small {
  border: 1px solid black !important;
  position: relative !important;

}
#small img {
  width: 100% !important;
  height: 100% !important;
}
#mark {
  display: none;
  width: 200px !important;
  height: 200px !important;
  background-color: white !important;
  opacity: 0.5 !important;
  filter: (opacity=50) !important;
  position: absolute !important;
  left: 0px ;
  top: 0px ;
}
#big {
  width: 400px; 
  height: 400px;
  border: 1px solid black;
  position: absolute;
  left: 1008px;
  top: 268px;
  display: block;
  overflow: hidden;
}
#big img {
  position: absolute;
  width: 1000px ;
  height: 1458px ;
}