@import "base";
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
}
body {
  color: #5a5a5a;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  font-size: 1.6rem;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100%;
  position: relative;
}
a {
  text-decoration: none;
  color: #5a5a5a;
}
/*header*/
.floating {
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  position: fixed;
  background: #fff;
}
.page-header {
  margin: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #c1c1c1;
  height: 105px;
  .content {
    padding: 0 15px !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    width: auto;
    padding: 0 15px !important;
    height: 105px;
    .logo {
      max-width: 50%;
      position: relative;
      z-index: 5;
      float: left;
      display: block;
      margin: 10px 15px 10px 0;
      img {
        max-height: inherit;
        width: 50px;
        height: 50px;
      }
    }
    .block {
      z-index: 9999 !important;
      margin-top: 15px;
      width: calc(100% - 30% - 85px);
      height: 40px;
      line-height: 40px;
      float: left;
      margin-bottom: 0;
      .block-content {
        form {
          .control {
            border-top: 0;
            margin: 0;
            padding: 0;
            position: relative;
            float: left;
            width: 790px;
            input[type="text"] {
              background: #fff;
              background-clip: padding-box;
              border: 1px solid #c2c2c2;
              font-size: 16px;
              height: 40px;
              line-height: 1.42857143;
              padding: 0 9px;
              vertical-align: baseline;
              width: 100%;
              padding: 6px 45px 6px 15px;
              position: static;
            }
            .search-btn {
              float: none;
              display: block;
              position: absolute;
              top: 1px;
              right: 10px;
              a {
                cursor: pointer;
                display: inline-block;
                background-image: none;
                background: 0 0;
                border: 0;
                box-shadow: none;
                font-size: 26px;
                line-height: 32px;
                z-index: 1;
              }
            }
          }
        }
      }
    }
    .sections.nav-sections {
      z-index: 2;
      overflow-x: initial !important ;
      float: left;
      margin-bottom: 0;
      min-width: 69%;
      float: left;
      margin-bottom: 0;
      min-width: 69%;
      .section-items {
        .section-item-content {
          display: block !important;
          #ui-id-1 {
            padding: 0;
            margin-left: -10px;
            font-size: 0;
            position: static;
            list-style: none;
            .level0 {
              float: left;
              margin: 0 !important;
              .level-top {
          
                padding: 0 10px;
                font-size: 1.5rem;
                letter-spacing: 0.6px;
                color: #575757;
                text-decoration: none;
                box-sizing: border-box;
                display: block;
                height: 100%;
                position: relative;
                span {
                  font-size: 1.5rem;
                  letter-spacing: 0.6px;
                  color: #575757;
                  line-height: 50px;
                }
               
              }
              .level-top:hover{
                color: #0199d5;
              }
            }
          }
        }
      }
    }
  }
  .header-right {
    position: relative;
    .phone_text {
      color: #5a5a5a;
      float: left;
      margin-top: 5px;
      width: auto !important;
      height: 40px;
      line-height: 40px;
      text-align: right;
      display: block;
      position: absolute;
      right: 0;
      top: 10px;
    }
    ul.additional-links {
      float: right;
      margin-bottom: 0;
      padding-left: 13px;
      margin-top: 0;
    }
  }
  .minicart-wrapper {
    margin: 11px 5px 0;
    position: relative;
    left: 42px;
    display: inline-block;
    float: right;
    .minicart-wrapper .action {
      white-space: nowrap;
      outline: none;
      .minicart-wrapper .action.showcart .counter.qty {
        display: none;
        box-sizing: content-box !important;
        background: #f15916;
        color: #fff;
        min-width: 13px;
        overflow: hidden;
        padding: 0 1px;
        text-align: center;
        white-space: normal;
        font-size: 1.1rem;
        position: absolute;
        top: -4px;
        right: -7px;
        height: 15px;
        line-height: 17px;
        border-radius: 50%;
        
      }
    }
  }
}

.nav-sections-item-content > .navigation {
  display: block;
}
#action {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 135px;
  height: 36px;
  line-height: 36px;
}
#action ul li {
  float: left;
  margin: 0 5px;
  cursor:pointer;
}
.divList,ul,Li-1{
   
    a{

      font-size: 16px;
      color: #000;
      display: block;
  
    }
    ul li{
      font-size: 14px;
      color: #777;
      line-height: 25px;
    }
}
#a1{
  display: block;
  margin-top:25px;
}
.divList>ul{
  display: flex;
  padding: 17px;
  
}
.divList>ul>li{
  border-right:1px solid #000 ;
  padding-left:10px ;
}
.divList>ul>.Li-1{
  width: 261px;
}
.divList>ul>.Li-4{
  border:none;
  width: 346px;
}
.divList>ul>.Li-3{
  width: 261px;
 
  line-height: 50px;
  span{
   
    font-size:14px;
  }
  .icf1{
    color: #777;
  }
  .iconfont{
    font-size: 28px;
    color:  red;
  }
  i{
    display: inline-block;
    width: 30px;
    margin-right: 20px;
  }
}
.divList>ul>.Li-2{
  width: 372px;
  display: flex;
  
  ul{
    width: 160px;
    span{
      color: #000;
      font-size: 15px;
      cursor: pointer;
      text-decoration: underline;
      display: block;
    }
  }
}
.divList{
  display: flex;
  justify-content: center;
  align-items: center;
 display: none;
}
.divList{
  ul li ul li:hover{
    color: #0199d5;
  }
 
}
.div0{
  display:none;
}
.showimg{
 
  ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
}
.service{
  display: flex;
  justify-content: center;
  align-items: center;
  .serviceMid{
    width: 1280px;
    margin-top: 10px;
    margin-bottom: 30px !important;
    overflow: hidden;
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      li{
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
          max-width: 77px;
          height: auto;
        }
        h4{
          font-size: 2.2rem;
          font-weight: 600;
          margin-top: 5px;
          margin-bottom: 5px;
          color: #2e2e2e;
        }
      }
    }
  }
}
//从这往上都是头部！！！！
.footList{
  div{
  
    border-bottom: 1px solid #898888;
  }
  .foot1{
    padding: 17px 20px 18px 30px;
    max-width: 1210px;
    margin: 0 auto;

  }
  .foot2{
    max-width: 1240px;
      margin-left: auto;
      margin-right: auto;
      padding: 17px 20px 18px 30px;
      ul{
        overflow: hidden;
      }
    ul li{
     float: left;
    }
    ul li a {
      max-width: 100px;
      margin-right:10px ;
      display: block;
      img{
        
        width: 100%;
        height: 100%;
      }
    }
  }
}
.page-footer{
  background-color: #bababa !important;
  overflow: hidden;
  div{
    .footer-top{
      overflow: hidden;
      background-color: #bababa !important;
      width: 75%;
      padding: 20px 0;
      border-bottom: 1px solid #898888;
      margin-left: auto;
      margin-right: auto;

    } 
    
    .footer--top-top{
     
      width: 75%;
    }
    .footer-top div>div{
      float: left;
      width: 25%;
      ul {
        float: left;
      }
      ul li{
        margin-left: 55px;
        line-height: 25px;
        font-size: 1.4rem;
        max-height: 500px; 
        width: 177px;
      }
    }
    .footer-top div>div>div{
      padding: 25px 0;
      cursor: pointer;
      background-color: #bababa;
      line-height: 20px;
      padding-left: 30px;
      width:232px;
      font-size: 1.4rem;
      float: left;
      img{
        width: 20px;
        height: 20px;

      }
      span{
        display: inline-block;
        margin-left: 5px;
        }
    }
   
  }
}
.footer-top-right{
    float: right;
    width: 24%;
    overflow: hidden;
    .footer-top-right-div{
      width: 232px !important;
        .iconfont{
          color: #666 ;
          font-size: 2rem;
          border-radius: 5%;
          overflow: hidden;
          text-align: center;
          line-height: 20px;
        }
      ul{
        overflow: hidden;
        margin: 10px 0  !important;
        width: 100%;
      }
      ul li{
        background:#fff;
        width: 17px !important;
        height: 17px !important;
        float: left ;
        margin: 0 !important;
        margin-left: 10px !important;
      }
      strong,span{

        font-size: 1.4rem;
        color: #666;
        vertical-align: top;
        font-weight: 700;
      }
    form{
      line-height: 3;
      input{
        height: 32px;
        font-size: 1.42rem;
        background: #fff;
        background-clip: padding-box;
        border: 1px solid #c2c2c2;
        border-radius: 1px;
        font-family: 'HP Simplified Light','Helvetica Neue',Helvetica,Arial,sans-serif;
        padding: 0 9px;
        vertical-align: baseline;
        width: 100%;
      }
    }
    button{
      background: 0 0;
      border: 1px solid;
      border-radius: 0;
      padding: 5px 15px;
      font-size: 1.42rem;
      white-space: nowrap;
      color:#666;
    }
    }
}
.footer-bottom{
  overflow: hidden;
  min-width: 1240px;
  margin: 0 auto;
  text-align: center;
  ul{
    padding-left: 30px;
    padding-top: 25px;
  }
  ul li {
    display: inline;
    font-size: 1.4rem;
    color: #666;
  }
}
.footer-disclaimer{
  background-color: #bababa !important;
    margin-top: auto;
    display: inline-block;
    width: 100%;
    p,div{
      max-width: 1240px;
      margin-left: auto;
      margin-right: auto;
      color: #666;
      margin-top: 10px;
      font-size: 1.3rem;
      a{
        color: #0199d5;
      }
      img{
        margin: 0;
      }
    }
    span{
      max-width: 1240px;
      display: block;
      margin: 0 auto !important;
      color: #666;
      line-height: 25px;
      font-size: 1.4rem;
      text-align: center;
    }
}
//中间
.FContent{
    margin-top:105px;
    .window-banner-container{
      box-sizing: border-box;
      max-width: 1280px;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
      position: relative;
      margin: 15px auto 15px auto;
      min-height: 22px;
      ul li{
        float: left;
        color: #c6c6c6;
        font-size: 14px;
        cursor: pointer;
      }
      .window-li{
        color: #2e2e2e;
      }
    }
}
.columns{
    float: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
    .column{
      width: 79.16666667%;
      float: right;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;
    }
    .sidebar{
      width: 20.83333333%;
      float: left;
      -ms-flex-order: 1;
      -webkit-order: 1;
        order: 1;
        padding-right: 40px;
      strong{
        padding-top: 5px;
        display: block;
        position: static;
        border-bottom: 1px solid #ccc;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1em;
        padding: 15px 0 5px;
        text-transform: uppercase;
        width: 100%;
        vertical-align: middle;
        font-family: 'HP Simplified Light';
        color: #000;
      }
      dl dt{
        color: #424242;
        padding: 15px 0 5px;
        font-weight: 400;
        text-transform: capitalize;
        font-family: 'HP Simplified Light';
        overflow: hidden;
        i{
          float: right;
          
        }
      }
      dl dd{
        border-bottom: 1px solid #ccc;
        [type="range"]{
          width: 100%;
          background: #dadada;
          height: 10px;
        }
        
      }
      dl{
        .div-span{
          font-size: 1.2rem;
          color: #5a5a5a;
          overflow: hidden;
          .div-sp1{
            float: left;
          }
          .div-sp2{
            float: right;
          }
        }
        .div-span1{
          overflow: hidden;
          margin-left: -5px;
          margin-right: -5px;
          margin-bottom: 5px;
          margin-top: 5px;
          button{
            float: right;
            font-family: 'HP Simplified Regular';
            color: #fff;
            border: 1px solid #0199d5;
            background: #0199d5;
            font-weight: 400;
            padding: 8px 15px;
            font-size: 1.2rem;
            vertical-align: middle;
            border-radius: 3px;
            border: none;
          }
          button:hover{
            color: #000;
            border: 1px solid #000;
            background: #fff;
            transition: all .5s;
            font-size: 1.2rem;
          }
        }
        
      }
    }
}

.dd-1{
  font-size: 1.2rem;
  font-weight: 400;
  
}
.dd-2{
  color: #424242;
  padding: 15px 0 5px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: 'HP Simplified Light';
  padding-left: 20px;
  overflow: hidden;
  i{
    float: right;
  }
}
.column{
    overflow: hidden;
    h1{
      font-family: 'HP Simplified Light';
      font-weight: 500;
      font-size: 3.2rem;
      letter-spacing: .2rem;
      margin-top: 0;
      margin-bottom: 0;
      text-transform: uppercase;
      color: #000;
     
    }
    .column-ul{
      width: 100%;
      
      li{
        position: relative;
        float: left;
        width: 20%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #dadada;
      }
      div{
        float: left;
        margin-bottom: 7px;
        position: static;
        right: 0;
        margin-top: 18px;
        font-size: 1rem;
        span{
          font-size: 1.1rem;
          color: #000;
        }
        select{
          max-width: 102px;
          color: #000;
          font-size: 1.1rem;
          border: none;
          background: 0 0;
          box-shadow: none;
          font-family: 'HP Simplified Light';
        }
      }
    }
   
}
.column-li::after{
  content: '';
  width: 50px;
  height: 4px;
  background: #000;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
// 假数据
.column ol{
  float: left;
  width: 100%;
    .li-2{
      width: 33% !important;
      background: #f4f4f4;
      padding: 20px !important;
      margin-left:0px !important ;
      float: left;
      .idv{
        height: 25px;
        span{
          width: 50%;
          display: inline-block;
          text-align: center;
          line-height: 16px;
          color: #fff;
        }
        .s1{
          background-color: #822980;
        }
        .s2{
          background-color: #00b04f;
        }
      }
      .idv1{
        bottom: 0;
        display: block;
        height: auto;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        width: auto;

      }
      .idv2{
        padding: 0 20px;
        margin: 10px 0;
      
        ul{
         display: flex;
         flex-direction: column;
        }
        p{
          text-align: left;
          font-size: 1.8rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        li{
          width: 100%;
          text-indent: 0;
          list-style-type: none;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 1.4rem;
          font-weight: 600;
        }
        li:before{
          content: '-';
          margin-right: 10px;
        }
        main{
          color: #ff0909;
          height: 15px;
          font-size: 13px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-top: 11px;
          
        } 
      }
      .p0{
        font-size: 12px !important;
        border-top: 1px solid #e0e1e4;
      }
      .p1{
        font-size: 17px;
        height: 35px;
      }
      .p2{
          height: 20px;
          color: #ff0909 !important;
           font-size: 14px !important;
           margin-bottom:5px;
           span{
            color: #7d7d7d !important;
           }
      }
      
      .idv2>div{
        width: 100%;
        height: 200px;
      }
      .idv2>section{
        height: 205px;
        img{
          width: 35px;
          height: 35px;
        }
        .p3{
          line-height: 1.2;
          color: #ff0909;
          font-size: 13px;
          height: 29px;
        }
        button{
          width: 100%;
          height: 40px;
          color: #fff;
          background: #0199d5;
          transition: all .5s;
          border: 1px solid #0199d5;
          font-family: 'HP Simplified Regular';
          letter-spacing: 0px;
          font-weight: 500;
          text-transform: capitalize;
          font-size: 1.4rem;
          border-radius: 3px;
          outline:0;
          cursor:pointer;
        }
        button:hover{
          color: #fff;
          background: #069;
          transition: all .5s;
          border: 1px solid #0199d5;
          font-family: 'HP Simplified Regular';
        }
        .p5{
          font-size: 1.2rem;
          margin: 10px 0 0 0;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          input{
            width: 20px;
            height: 20px;
           
          }
        }
      }
    
  }
}
.buy{
  position:fixed;
  width: 390px;
  top:11.5%;
  left:60%;
  height:100%;
  background-color:  #f2f2f2;
  z-index: 9999;
  border: 1px solid #000;
  border-top: 0;
  display: none;
}

.buy-div1{
  i{
    float: left;
    span{
      font-size: 18px;
      color: #db4700;
      font-weight: 400;
    }
  }
  i:last-child{
      float: right;
  }
}
.buy-btn{
  width: 100%;
  margin-top: 15px;
  float: left;
  text-align: center;
  border-bottom: #ccc 1px solid;
  a{
    display: inline-block;
    line-height: 2.2rem;
    padding: 14px 112px;
    background:#0199d5;
    color: #fff;
    transition: 1s;
    border: 1px solid #000;
    margin-bottom:15px;
  }
  a:hover{
    background:#fff;
    color: #000;
    border: 1px solid #000;
  }
}
.buy-ul{
  float: left;
  padding: 15px;
  li{
    img{
      float: left;
    }
    div{
      display: inline-block;
      width: 77%;
      margin-left: 7px;
      font-size: 1.5rem !important;
      color: #5a5a5a !important;
      text-align: left;
      a{
        font-size: 1.5rem !important;
        color: #5a5a5a !important;
        line-height: 20px;
      }
      p{
       
      }
      a:hover{
        text-decoration: underline;
      }
    }
    input{
      text-align: center;
      width: 40px;
      height: 32px;
      background: #fff;
      background-clip: padding-box;
      border: 1px solid #c2c2c2;
      border-radius: 1px;
      font-family: 'HP Simplified Light','Helvetica Neue',Helvetica,Arial,sans-serif;
      font-size: 16px;
      line-height: 1.42857143;
      padding: 0 9px;
      vertical-align: baseline;
    }
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}